body {
    font-family: Arial;
    padding: 10px;
}

.coba {
    border: 1px solid #665544;
    background-color: #efefef;
    padding: inherit;
}
.coba .lusin {
    color: wheat;
    border: 1px solid;
    background-color: rgb(114, 43, 43);

}
.coba .kentang {
    color: wheat;
    background-color: black;
    padding: 2px solid;
}

.cobalagi{
    border: 1px solid;
    padding: 10px;
    font-family: Arial;

}
.cobalagi .dolor {
    border: 1px solid #e70c0c ;
    color: blue;
    background-color: black;

}